
<style>
    footer{
        background-color: rgba(6, 2, 36, 0.904) !important;

    }
</style>
<footer class="footer mt-auto bg-dark py-2" >
    <div class="container">
        <span class="text-muted">&copy; YourTravelTracker 2021 ~shadman</span>
    </div>
</footer>