<footer class="footer mt-auto bg-dark py-2" style="background-color: rgba(6, 2, 36, 0.904) !important">
    <div class="container">
        <span class="text-muted">&copy; YourTravelTracker 2021</span>
    </div>
</footer>