
    <% layout('layouts/boilerplate')%>

    <div class="card mb-3 mx-auto" style="max-width: 720px;">         
        <img src=<%=destination.images[0] %>   class="shadow" alt="...">
        <div class="card-body">
          <h5 class="card-title row justify-content-center"><%=destination.title %> </h5>
          <p class="card-text"><%=destination.experience %> </p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
        <div class="row card-body ">
        <button type="button" class="btn btn-outline-primary col">Edit</button>
        <button type="button" class="btn btn-outline-secondary col"><%=destination.isVisited===true?'WriteYourExperience':'AddReminder'%></button>
        <button type="button" class="btn btn-outline-danger col">Delete</button>
    </div>
        



  