<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>YourTravelTracker-Login</title>
</head>
<body>
    <form action="/login" method="POST">
        <div>
            <label for="user_name">UserName:</label>
            <input id="user_name" type="text" name="login[username_email]">
        </div>
        <div>
            <label for="password">Password:</label>
            <input id="password" type="text" name="login[password]">
        </div>
        <div>
            <button type='submit' >Login</button>
        </div>
    </form>

    <script>
        window.addEventListener("keydown", function(e) {
            if(e.key==='Enter' && e.code==='Enter')
                if(e.target.nodeName=='INPUT' && e.target.type=='text'){
                    e.preventDefault()
                    return false
                }
  
}, true);
    </script>
</body>
</html>